@import 'base';
@import 'variables';
@import 'breakpoints';

// BG 

.img-container {
  z-index: -2;
  width: 100vw;
  height: 300px;
  overflow: hidden;
  position: absolute;
  left: 0;

  @include tablet {
    height: 280px;
  }
}

.img-pattern {
  height: 300px;
  transform: translateX(-762px);

  @include tablet {
    width: 100vw;
    height: 280px;
    transform: none;
  }
}

// MAP

.leaflet-container {
  margin-top: 300px;
  z-index: 0;
  width: 100vw;
  height: calc(100vh - 180px);
  position: absolute;
  left: 0;

  @include tablet {
    margin-top: 280px;
  }
}

.leaflet-control-zoom {
  visibility: hidden;
}

// CONTENT

.content-holder {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    margin-top: 30px;
  }
}

h1 {
  color: white;
  font-size: 1.59rem;
  font-weight: 500;

  @include tablet {
    font-size: 1.95rem;
  }
}

form {
  margin-top: 29px;
  display: flex;
  width: 87vw,;
  max-width: 555px;

  input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 18px 5px 18px 23px;
    border-radius: $borderRadius 0 0 $borderRadius;
    font-size: 1.125rem;
    font-family: 'Rubik';
    font-weight: 400;
    color: $veryDarkGray;
  }

  button {
    border: none;
    color: white;
    background: black;
    padding: 0 23px 0 23px;
    border-radius: 0 $borderRadius $borderRadius 0;
    cursor: pointer;
  }

  @include tablet {
    margin-top: 27px;

    input {
      padding: 18px 5px 19px 24px;
    }

    button {
      padding: 2px 23px 0 24px;
    }
  }
}

.info-holder {
  margin-top: 24px;
  background: white;
  width: 87vw;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  border-radius: $borderRadius;
  z-index: 1;

  div {
    text-align: center;
    padding: 12px 0 12px 0;
  }

  h2 {
    text-transform: uppercase;
    color: $darkGray;
    font-size: .64rem;
    font-weight: 700;
    letter-spacing: 1.3px;
  }

  p {
    margin-top: 8px;
    font-size: 1.24rem;
    color: $veryDarkGray;
    font-weight: 500;
  }

  @include tablet {
    display: grid;
    margin-top: 72px;
    padding: 20px 13px 20px 13px;
    grid-template-columns: repeat(4, auto);
  }

  @include desktop {
    margin-top: 48px;
    padding: 0 0 0 0;
    grid-template-columns: repeat(4, 277px);

    div {
      text-align: start;
      padding: 0;
      margin: 31px -2px 41px 33px;
      border-right: .5px solid hsl(0, 0%, 80%);
      height: 50%;
    }

    .isp {
      border-right: none;
    }

    h2 {
      font-size: .8rem;
    }

    p {
      margin-top: 13px;
      font-size: 1.6rem;
    }
  }
}

// LOADER

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}